#useDynLib(samExploreR,.registration = TRUE)
import(ggplot2)
import(edgeR)
import(Rsubread)
#import(colorspace)
#import("grDevices")
#import("stats")
#importFrom("grDevices", "hcl")
importFrom("stats", "aov", "runif")
exportPattern("^[^\\.]")
export("samExplore")
export("plotsamExplorer")
export("exploreRep")
export("exploreRob")
