#useDynLib(samExploreR,.registration = TRUE)
import(ggplot2)
import(edgeR)
import(Rsubread)
#import(colorspace)
import(grDevices)
import(stats)
import(graphics)
import(RNAseqData.HNRNPC.bam.chr14)
#importFrom("grDevices", "hcl")
importFrom("grDevices", "hcl")
importFrom("graphics", "plot")
importFrom("stats", "aov", "runif")
exportPattern("^[^\\.]")
export("samExplore")
export("plotsamExplorer")
export("exploreRep")
export("exploreRob")
